<app-pais></app-pais>

<form style="width:70%;margin: 0 auto;margin-top:20px;">
    <div class="form-group">
      <label for="Nome">Nome:</label>
      <input type="text" class="form-control" id="NomePais" placeholder="Informe o nome do país">
    </div>    
    <div class="form-group">
      <label for="Continente">Continente:</label>
      <input type="text" class="form-control" id="Continente" placeholder="Informe o nome do continente">
    </div>   
    <div class="form-group">
      <label for="BandeiraPais">Escolha uma foto da bandeira:</label>
      <input type="file" class="form-control-file" id="BandeiraPais">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>