<app-estado></app-estado>

<table class="table" style="width:70%;margin: 0 auto;margin-top:20px;">
    <thead class="thead-dark">
      <tr>        
        <th scope="col">Nome</th>        
        <th scope="col">País</th>
      </tr>   
    </thead>
    <tbody>
      <tr>        
        <td>Rio de Janeiro</td>
        <td>Brasil</td>        
      </tr>
      <tr>        
        <td>São Paulo</td>
        <td>Brasil</td>        
      </tr>
      <tr>        
        <td>Minas Gerais</td>
        <td>Brasil</td>        
      </tr>
    </tbody>
  </table>
