<app-estado></app-estado>

<form style="width:70%;margin: 0 auto;margin-top:20px;">
  <div class="form-group">
    <label for="Nome">Nome:</label>
    <input type="text" class="form-control" id="NomeEstado" placeholder="Informe o nome do estado">
  </div>
  <div class="form-group">
    <label for="Pais">País:</label>
    <input type="text" class="form-control" id="Pais" placeholder="Informe o país:">
  </div>
  <div class="form-group">
    <label for="BandeiraEstado">Escolha uma foto da bandeira:</label>
    <input type="file" class="form-control-file" id="Foto">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>