<app-estado></app-estado>

<table class="table" style="width:70%;margin: 0 auto;margin-top:20px;">
    <thead class="thead-dark">
      <tr>        
        <th scope="col">Nome</th>        
        <th scope="col">Continente</th>
      </tr>   
    </thead>
    <tbody>
      <tr>        
        <td>França</td>
        <td>Europa</td>        
      </tr>
      <tr>        
        <td>Portugal</td>
        <td>Europa</td>        
      </tr>
      <tr>        
        <td>Espanha</td>
        <td>Europa</td>        
      </tr>
    </tbody>
  </table>